.addTodoForm {
  display: flex;
  flex-direction: column;
  input {
    padding: 5px 0;
    margin: 10px 0;
    border: none;
    border-radius: 0;
    font-family: inherit;
  }
}

.addTodoButtonWrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}